.container-products {
    display: flex;
    flex-flow: wrap;
    width: 85%;
    height: 100%;
    margin-left: 10rem;
    padding: 1rem;
    border: 2px solid white;
    box-shadow: 0px 0px 10px #ccc;
    position: static;

  }

  .card-product{
    margin: 2rem;
    position: static;

    .list-element{
        position: static;
    }

    .product-title{
        text-align: center;
        font-size: 17px;
        
    }
    
    .button-card{
        display: flex;
        justify-content: center;

        button{
            width: 7rem;
            height: 3rem;
            position: static;
        }
    }
}

.card-image{
    height: 9rem;
}

